.general{
  width: 30%;
  min-height: 500px ;
  margin-left: 35%;
  margin-top: 60px;
  background-color: rgb(25, 92, 97);
  padding-top: 1px;
  text-align: center;
  color: #fff;
  border-radius: 10px;
  box-shadow: 10px 10px 34px -6px rgba(0,0,0,0.5);
}